.container {
  max-width: 1200px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}
.row-1,
.row-2 {
  flex-basis: 50%;
}

.row-1-wrapper {
  display: flex;
  justify-content: flex-end;
  border-bottom: 2px black solid;
  margin-top: 370px;
}
.row-1-left,
.row-1-center,
.row-1-right,
.row-2-left,
.row-2-center,
.row-2-right {
  flex-basis: 30%;
}

.line {
  width: 10px;
  height: 150px;
  position: absolute;
  bottom: 50%;
  background-color: black;
  z-index: 0;
}
.row-2-wrapper {
  display: flex;
  justify-content: flex-end;
}

.box-1 {
  width: 100px;
  height: 20px;
  background-color: red;
  position: absolute;
  top: 86%;
  left: -45px;
}
.box-2 {
  width: 80px;
  height: 20px;
  background-color: yellowgreen;
  position: absolute;
  top: 73%;
  left: -33px;
}
.box-3 {
  width: 50px;
  height: 20px;
  background-color: green;
  position: absolute;
  top: 60%;
  left: -20px;
}
