body {
  background-image: linear-gradient(
    to right,
    #07d4eb,
    #00d5dd,
    #00d6c9,
    #00d5b0,
    #00d394,
    #39d17a,
    #57cd5f,
    #71c940,
    #95c324,
    #b4bb03,
    #d0b200,
    #eaa707
  );
  color: #ffffff;
  font-family: "Recursive", sans-serif;
}
.container {
  position: relative;
  margin-top: 130px;
  bottom: 30%;
  left: 30%;
}

div.game {
  width: 450px;
  height: 140px;
  margin: 10px;
  position: relative;
}

div.tower {
  width: 100px;
  position: absolute;
  bottom: 0px;
}

div.disk,
div.bottom {
  text-align: center;
}

.game {
  font-size: 0;

  border-radius: 10px 10px 0px 0px;
  border-bottom-style: ridge;
  border-width: 5px;
}

.tower {
  z-index: 0;
}

#t1 {
  left: 10px;
}

#t2 {
  left: 175px;
}

#t3 {
  left: 330px;
}

.disk {
  height: 20px;
  box-shadow: 15px 3px 7px #606060;
}

.disk,
.bottom {
  font-size: 0px;
}

#s2 {
  width: 30px;
  margin-left: 35px;
  background-color: #ffff00;
}

#s3 {
  width: 50px;
  margin-left: 25px;
  background-color: #ff4000;
}

#s1 {
  width: 20px;
  margin-left: 40px;
  background-color: grey;
}

div.bottom {
  height: 150px;
  width: 10px;
  border-radius: 3px;
  position: absolute;
  left: 45px;
  bottom: 0px;
  background-color: black;
  z-index: -1;
}

.timer {
  text-align: center;
}
#time {
  color: green;
  display: inline-block;
  font-size: 20px;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.winorloose {
  display: none;
  font-size: 50px !important;
}

#resetbtnbtn {
  display: inline-block;
}

#nextLevelbtn {
  background-color: rgb(20, 201, 20);
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
}

@media (min-width: 268px) {
  .container {
    position: relative;
    margin-top: 10px;
    bottom: 0%;
    left: 0%;
  }
  div.game {
    width: 250px;
    height: 140px;
    margin: 10px;
    position: relative;
  }

  #t1 {
    left: -30px;
  }

  #t2 {
    left: 80px;
  }

  #t3 {
    left: 190px;
  }

  .head-div {
    text-align: left;
    margin-bottom: 30px;
    padding-left: 5px;
  }
}

@media (min-width: 320px) {
  .container {
    position: relative;
    margin-top: 10px;
    bottom: 0%;
    left: 0%;
  }
  div.game {
    width: 300px;
    height: 140px;
    margin: 10px;
    position: relative;
  }

  #t1 {
    left: -20px;
  }

  #t2 {
    left: 100px;
  }

  #t3 {
    left: 220px;
  }

  .head-div {
    text-align: left;
    margin-bottom: 30px;
    padding-left: 5px;
  }
}

@media (min-width: 432px) {
  .container {
    position: relative;
    margin-top: 70px;
    margin-left: 60px;
    bottom: 30%;
    left: 0%;
  }

  div.game {
    width: 350px;
    height: 140px;
    margin: 10px;
    position: relative;
  }

  #t1 {
    left: -20px;
  }

  #t2 {
    left: 125px;
  }

  #t3 {
    left: 290px;
  }
  .head-div {
    text-align: left;
    margin-bottom: 30px;
    padding-left: 130px;
  }
}
@media (min-width: 590px) {
  .container {
    position: relative;
    margin-top: 140px;
    margin-left: 120px;
    bottom: 30%;
    left: 0%;
  }

  div.game {
    width: 450px;
    height: 140px;
    margin: 10px;
    position: relative;
  }

  #t1 {
    left: 10px;
  }

  #t2 {
    left: 175px;
  }

  #t3 {
    left: 330px;
  }
  .head-div {
    text-align: left;
    margin-bottom: 30px;
    padding-left: 130px;
  }
}
@media (min-width: 734px) {
  .container {
    position: relative;
    margin-top: 130px;
    bottom: 50%;
    left: 20%;
  }

  div.game {
    width: 450px;
    height: 140px;
    margin: 10px;
    position: relative;
  }

  #t1 {
    left: 10px;
  }

  #t2 {
    left: 175px;
  }

  #t3 {
    left: 330px;
  }
  .head-div {
    text-align: left;
    margin-bottom: 30px;
    padding-left: 130px;
  }
}
@media (min-width: 845px) {
  .container {
    position: relative;
    margin-top: 130px;
    bottom: 30%;
    left: 30%;
  }

  div.game {
    width: 450px;
    height: 140px;
    margin: 10px;
    position: relative;
  }

  #t1 {
    left: 10px;
  }

  #t2 {
    left: 175px;
  }

  #t3 {
    left: 330px;
  }
  .head-div {
    text-align: left;
    margin-bottom: 30px;
    padding-left: 130px;
  }
}
@media (min-width: 1025px) {
  .container {
    position: relative;
    margin-top: 130px;
    bottom: 30%;
    left: 30%;
  }

  div.game {
    width: 450px;
    height: 140px;
    margin: 10px;
    position: relative;
  }

  #t1 {
    left: 10px;
  }

  #t2 {
    left: 175px;
  }

  #t3 {
    left: 330px;
  }
  .head-div {
    text-align: left;
    margin-bottom: 30px;
    padding-left: 130px;
  }
}
@media (min-width: 1281px) {
  .container {
    position: relative;
    margin-top: 130px;
    bottom: 30%;
    left: 30%;
  }

  div.game {
    width: 450px;
    height: 140px;
    margin: 10px;
    position: relative;
  }

  #t1 {
    left: 10px;
  }

  #t2 {
    left: 175px;
  }

  #t3 {
    left: 330px;
  }

  .head-div {
    text-align: left;
    margin-bottom: 30px;
    padding-left: 130px;
  }
}
.head-div {
  text-align: left;
  margin-bottom: 30px;
}
.p-head {
  font-size: 40px;
  color: chocolate;
}

.homebtn {
  background-color: rgb(6, 196, 243);
  border-radius: 5px;
}
